.add {
    display: none;
    width: 400px;
    height: 250px;
    /* display: flex; */
    flex-direction: column;
    border:1px solid black;
    /* text-align: right; */
}

.add input {
    width: 180px;
    /* text-align: right; */
}


.add label {
    color: blue;
    align-self: right;
}
.add button {
    margin-top: 20px;
    align-self: center;
}

.library {
    margin-top: 15px;
    /* border: 2px solid brown; */
    display: grid;
    grid-template-columns: repeat(4, 200px);
}
.library > div {
    font-size: 22px;
    font-weight: bold;
    /* border-right: 1px solid black; */
    /* border-top: 1px solid #000; */
    border: 1px solid black;;
}

.library > .book {
    font-size:18;
    font-weight: normal;
    border: 1px solid black
}
.library > .book:hover {
    font-weight: bold;
    background-color: gold;
    transform: scale(1.2) ;

    box-shadow: 3px 2px 1px 3px;
    cursor: pointer;
}

.library > div:hover {
    background-color: gold;
    transform: scale(1.03);
}

button {
    background-color: rgb(53, 219, 53);
    width: 180px;
    height: 60px;
    border-radius: 14px;;
}

#new-book:hover {
    background-color: rgba(128, 173, 24, 0.76);
    cursor: pointer;
    transform: scale(1.1);
}