body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.add {
    display: none;
    width: 400px;
    height: 250px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    border:1px solid black;
    /* text-align: right; */
}

.add input {
    display: flex;
    width: 75%;
    height:20px;
    border-radius: 12px;
    /* text-align: right; */
}


.add label {
    font-weight: bold;
    font-size: 1.25rem;
    align-self: right;
    justify-self: center;
}
.add button {
    margin-top: 20px;
    align-self: center;
}

.library {
    margin-top: 15px;
    /* border: 2px solid brown; */
    display: grid;
    grid-template-columns: repeat(5, 180px);
}
.library > div {
    font-size: 22px;
    font-weight: bold;
    /* border-right: 1px solid black; */
    /* border-top: 1px solid #000; */
    border: 1px solid black;;
}

.library > .book {
    display: flex;
    justify-content: center;
    
    font-size:18;
    font-weight: normal;
    border: 1px solid black
}


.library > .book > button:hover {
    background-color: gold;
    transform: scale(1.07);
    cursor: pointer;
}

.library > div > button {
    background-color: rgba(181, 10, 10, 0.54);
    height:45px;
    width: 100px;
}

button {
    background-color: rgba(98, 158, 98, 0.614);
    width: 180px;
    height: 45px;
    border-radius: 14px;;
}

button:hover {
    transform: scale(1.04);
    background-color: rgba(169, 221, 49, 0.76);


}
#new-book:hover {
    background-color: rgba(128, 173, 24, 0.76);
    cursor: pointer;
    transform: scale(1.1);
}